# SBM Allocation for Replication

James Yu, 12 July 2023

In [1]:
using JSON

include("type_allocation_base.jl")

NUMBER_OF_TYPES = 4
NUMSINKS = 4;

The allocation is pinpointed to seed zero, 4 types with 4 sinks.

In [2]:
res = SBM.estimate_parameters(NUMBER_OF_TYPES, 500 * (NUMBER_OF_TYPES-2) + 1000; SEED=0, DEBUG=true);

Total 6849 Placements (found 6849 by sequence counting, 6849 by matrix sum)
 54.596090 seconds (6 allocations: 6.453 KiB)
TYPE 1:
  Boston University
  Columbia University
  Duke University
  Harvard University
  London School of Economics and Political Science
  Massachusetts Institute of Technology
  New York University
  Northwestern University
  Princeton University
  Stanford University
  University of California Los Angeles (UCLA)
  University of California, Berkeley
  University of Chicago
  University of Maryland
  University of Michigan
  University of Pennsylvania
  University of Wisconsin, Madison
  Yale University
Total Institutions: 18

TYPE 2:
  Arizona State University
  Bocconi University
  Boston College
  Brown University
  Carnegie Mellon University
  Cornell University
  Johns Hopkins University
  Michigan State University
  National University of Singapore
  Ohio State University
  Pennsylvania State University
  Purdue University
  Stockholm School of Economics
  Texas A&M University, College Station
  Tilburg University
  Universitat Pompeu Fabra
  University College London
  University of Bonn
  University of British Columbia
  University of California, Davis
  University of Mannheim
  University of Minnesota, Twin Cities
  University of Notre Dame
  University of Nottingham
  University of Oxford
  University of Rochester
  University of Southern California
  University of Texas at Austin
  University of Toronto
  University of Virginia
  University of Warwick
  University of Washington
  Université Toulouse Capitole
  Vanderbilt University
  Washington State University
  Washington University in St. Louis
Total Institutions: 36

TYPE 3:
  Aalto University
  Aarhus University
  American University
  Auburn University
  Australian National University
  BI Norwegian Business School
  Binghamton University (SUNY)
  CEMFI
  California Institute of Technology (Caltech)
  Carleton University
  Chinese University of Hong Kong
  Clemson University
  Colorado State University
  Concordia University
  Copenhagen Business School
  ETH Zurich
  Ecole Polytechnique (IP Paris)
  Emory University
  Erasmus University Rotterdam
  European University Institute
  Florida International University
  Florida State University
  Fudan University
  George Mason University
  George Washington University
  Georgetown University
  Georgia Institute of Technology
  Georgia State University
  Goethe-Universität Frankfurt am Main
  HEC Paris
  Hong Kong Baptist University
  Hong Kong University of Science and Technology
  INSEAD
  Imperial College London
  Indian Institute of Technology, Kanpur
  Indiana University Bloomington
  Instituto Tecnologico Autónomo de Mexico (ITAM)
  Iowa State University
  Kansas State University
  Katholieke Universiteit Leuven
  London Business School
  Louisiana State University
  Ludwig-Maximilians-Universitat München (LMU) (University of Munich)
  Lund University
  Maastricht University
  McGill University
  McMaster University
  Miami University
  Middle Tennessee State University
  Monash University
  Nanyang Technological University
  New Economic School
  New York University Shanghai
  North Carolina State University
  Northeastern University
  Oklahoma State University
  Oregon State University
  Peking University
  Pontificia Universidad Católica de Chile
  Queen Mary University of London
  Queen's University
  Rice University
  Rutgers, The State University of New Jersey
  Sciences Po
  Shanghai University of Finance and Economics
  Simon Fraser University
  Singapore Management University
  Southern Methodist University
  Stockholm University
  Stony Brook University (SUNY)
  Syracuse University
  Tel Aviv University
  Temple University
  Texas Tech University
  The New School
  Toronto Metropolitan University
  Tsinghua University
  Tufts University
  Tulane University
  Universidad Carlos III de Madrid
  Universidad de Navarra
  Universidad de los Andes
  Universitat Autònoma de Barcelona
  University of Alabama
  University of Alberta
  University of Amsterdam
  University of Arizona
  University of Arkansas
  University of Bristol
  University of Calgary
  University of California, Irvine
  University of California, Riverside
  University of California, San Diego
  University of California, Santa Barbara
  University of California, Santa Cruz
  University of Cambridge
  University of Colorado, Boulder
  University of Connecticut
  University of Copenhagen
  University of Delaware
  University of Edinburgh
  University of Essex
  University of Exeter
  University of Florida
  University of Georgia
  University of Glasgow
  University of Gothenburg
  University of Groningen
  University of Hawaiʻi at Mānoa
  University of Hong Kong
  University of Houston
  University of Illinois at Chicago
  University of Illinois at Urbana-Champaign
  University of Iowa
  University of Kansas
  University of Kent
  University of Kentucky
  University of Lausanne
  University of Leicester
  University of Massachusetts, Amherst
  University of Melbourne
  University of Miami
  University of Missouri, Columbia
  University of Nebraska, Lincoln
  University of New South Wales (UNSW), Sydney
  University of North Carolina, Chapel Hill
  University of Oklahoma
  University of Oregon
  University of Oslo
  University of Pittsburgh
  University of Queensland
  University of South Carolina
  University of St Andrews
  University of Surrey
  University of Sydney
  University of Tennessee, Knoxville
  University of Texas at Dallas
  University of Tokyo
  University of Utah
  University of Vienna
  University of Zurich
  Università di Bologna
  Université Libre de Bruxelles
  Université du Québec à Montréal (UQAM)
  Universíté de Montréal
  Uppsala University
  Utrecht University
  Virginia Tech
  Vrije Universiteit Amsterdam
  West Virginia University
  Western University
  Wuhan University
  École d'Économie de Paris
Total Institutions: 153

TYPE 4:
  Aix-Marseille Université
  Aligarh Muslim University
  Aristotle University of Thessaloniki
  Ball State University
  Bank of Finland
  Barcelona Graduate School of Economics
  Bentley University
  Bharathidasan University
  Bilkent University
  Birkbeck College, University of London
  Bournemouth University
  Brandeis University
  CERGE-EI (Center for Economic Research and Graduate Education – Economics Institute)
  Ca' Foscari University Venice
  California State Polytechnic University, Pomona
  Center for Research in Economics and Statistics (CREST)
  Central European University
  Chr. Michelsen Institute (CMI)
  City University of London
  City University of New York Graduate Center
  Claremont Graduate University
  Clark University
  Cochin University of Science and Technology
  Colorado School of Mines
  Covenant University
  Dalhousie University
  Dalian University of Technology
  Deakin University
  Delft University of Technology
  Drexel University
  Dublin City University
  Durham University
  EDHEC Business School
  ESCP Business School
  ESMT Berlin
  ESSEC Business School
  Eastern Kentucky University
  Federal Reserve Bank of New York
  Federal University of Paraná
  Fordham University
  Frankfurt School of Finance & Management
  Freie Universität Berlin
  Fundação Getulio Vargas (FGV)
  Ghent University
  Graduate Institute of International and Development Studies
  Hanken School of Economics
  Hebrew University of Jerusalem
  Heidelberg University
  Heriot Watt University
  Hong Kong Polytechnic University
  Howard University
  Humboldt University Berlin
  IE University
  IMT School for Advanced Studies Lucca
  ISM University of Management and Economics
  Indian Institute of Management Bangalore
  Indian Institute of Management Indore
  Indian Statistical Institute, Delhi
  Indira Gandhi Institute of Development Research (IGIDR)
  Insper (Institute of Education and Research)
  Instituto Universitário de Lisboa, ISCTE-IUL
  International Monetary Fund (IMF)
  Istanbul University
  Jawaharlal Nehru University
  Johannes Kepler University Linz
  Kiel Institute for the World Economy
  Kiel University
  Korea University
  Koç University
  Kurukshetra University
  Kyoto University
  LUISS Guido Carli
  Lehigh University
  Leibniz Universität Hannover
  Libera Università di Bolzano
  Loughborough University
  Luleå University of Technology
  MINES ParisTech
  Manchester Metropolitan University
  Martin Luther University of Halle-Wittenberg
  Massey University
  Maulana Azad National Institute of Technology Bhopal (MANIT)
  Meiji University
  Middle East Technical University
  Middle East Technical University - Northern Cyprus Campus
  National Central University
  National Research University Higher School of Economics, St. Petersburg
  Nelson Mandela University
  New York University Abu Dhabi
  Northern Illinois University
  Otto-von-Guericke University Magdeburg
  Politecnico di Torino
  Quaid-i-Azam University
  Queens' University Belfast
  Radboud University
  Royal Holloway, University of London
  Royal Melbourne Institute of Technology (RMIT)
  SKEMA Business School
  SOAS (School of Oriental and African Studies), University of London
  SUNY Buffalo State
  Sam Houston State University
  Sapienza Università di Roma
  Sciences Po Toulouse
  Seoul National University
  Shiv Nadar University
  Sorbonne Université
  Southern Illinois University
  St. Thomas University
  Stellenbosch University
  Suffolk University
  Technical University of Crete
  Technische Universität Berlin
  Technische Universität Braunschweig
  Texas A&M International University
  Towson University
  Trinity College Dublin, University of Dublin
  Universidad Complutense de Madrid
  Universidad Pontificia Comillas
  Universidad de Alicante
  Universidad de Cantabria
  Universidad de Zaragoza
  Universidade Nova de Lisboa
  Universidade da Coruña
  Universitat Rovira i Virgili
  Universitat de Barcelona
  Universitat de València
  Universiti Kebangsaan Malaysia
  Universiti Malaysia Perlis
  Universiti Sains Malaysia
  Universiti Utara Malaysia
  University College Cork
  University at Albany (SUNY)
  University of Aberdeen
  University of Adelaide
  University of Algiers 3
  University of Bath
  University of Bern
  University of Birmingham
  University of Cape Town
  University of Carthage
  University of Cincinnati
  University of Cologne
  University of Colorado, Denver
  University of Dschang
  University of Fribourg
  University of Guelph
  University of Helsinki
  University of Hull
  University of Innsbruck
  University of Konstanz
  University of Leeds
  University of Limerick
  University of Lisbon
  University of Liverpool
  University of Luxembourg
  University of Maine, Orono
  University of Manchester
  University of Minho
  University of Mississippi
  University of Nevada, Las Vegas (UNLV)
  University of Nevada, Reno
  University of New Mexico
  University of New Orleans
  University of North Carolina, Greensboro
  University of Ottawa
  University of Porto
  University of Reading
  University of Saskatchewan
  University of Sheffield
  University of South Alabama
  University of Strathclyde
  University of Sussex
  University of Tasmania
  University of Texas at Arlington
  University of Tirana
  University of Tsukuba
  University of Vaasa
  University of Victoria
  University of Warsaw
  University of Waterloo
  University of Wisconsin, Milwaukee
  University of Wyoming
  University of York
  University of the West of Scotland
  Università Cattolica del Sacro Cuore
  Università Degli Studi di Milano
  Università degli Studi del Molise
  Università degli Studi di Firenze
  Università degli Studi di Palermo
  Università degli Studi di Pavia
  Università degli Studi di Siena
  Università degli Studi di Trento
  Università della Svizzera Italiana
  Università di Roma Tor Vergata
  Université Cheikh Anta Diop de Dakar
  Université Claude Bernard Lyon 1
  Université Clermont Auvergne
  Université Grenoble Alpes
  Université Laval
  Université Paris 1 Panthéon-Sorbonne
  Université Paris 2 Panthéon-Assas
  Université Paris-Dauphine
  Université Paris-Est Créteil
  Université Paris-Est Marne-la-Vallée
  Université catholique de Louvain
  Université d'Evry Val-d'Essonne
  Université de Bordeaux
  Université de Genève
  Université de Rennes 1
  Université de Strasbourg
  Université de Tunis
  Vienna Graduate School of Finance (VGSF)
  Vienna University of Economics and Business
  Wageningen University
  Wayne State University
  Western Kentucky University
  Yildiz Technical University
  York University
  Zhejiang Gongshang University
Total Institutions: 219

Estimated Placement Counts (unsorted):

8×4 Matrix{Int32}:
 196   12   84  455
 148   63   83   84
 618   43  363  725
  66    3   33  496
  66   29   41  126
 258   34  131  359
 206   18   94  447
 523  143  508  394

Estimated Placement Counts (sorted types):

8×4 Matrix{Int32}:
 496   66   33    3
 455  196   84   12
 725  618  363   43
  84  148   83   63
 126   66   41   29
 359  258  131   34
 447  206   94   18
 394  523  508  143

Estimated Placement Rates (sorted types):

8×4 Matrix{Float64}:
 1.53086    0.101852   0.0119826   0.000761035
 0.70216    0.151235   0.0152505   0.00152207
 0.263253   0.1122     0.0155069   0.00128331
 0.021309   0.0187722  0.00247709  0.00131357
 0.333333   0.0873016  0.0127607   0.00630572
 0.193635   0.0695793  0.00831271  0.00150729
 0.215942   0.0497585  0.00534243  0.000714711
 0.0261829  0.0173777  0.0039716   0.000781062

Likelihood: -27453.463489758

Check Complete

The table:

In [3]:
SBM.nice_table(res.placements, NUMBER_OF_TYPES, NUMSINKS, ["International", "Government", "Private Sector", "Teaching Universities", "Column Totals"])

┌───────────────────────┬────────┬────────┬────────┬────────┬────────────┐
│                       │ Tier 1 │ Tier 2 │ Tier 3 │ Tier 4 │ Row Totals │
├───────────────────────┼────────┼────────┼────────┼────────┼────────────┤
│                Tier 1 │    496 │     66 │     33 │      3 │        598 │
│                Tier 2 │    455 │    196 │     84 │     12 │        747 │
│                Tier 3 │    725 │    618 │    363 │     43 │       1749 │
│                Tier 4 │     84 │    148 │     83 │     63 │        378 │
│         International │    126 │     66 │     41 │     29 │        262 │
│            Government │    359 │    258 │    131 │     34 │        782 │
│        Private Sector │    447 │    206 │     94 │     18 │        765 │
│ Teaching Universities │    394 │    523 │    508 │    143 │       1568 │
│         Column Totals │   3086 │   2081 │   1337 │    345 │       6849 │
└───────────────────────┴────────┴────────┴────────┴────────┴────────────┘
\begin{tabular}{rrrrrr}
  \hline
   & \textbf{Tier 1} & \textbf{Tier 2} & \textbf{Tier 3} & \textbf{Tier 4} & \textbf{Row Totals} \\\hline
  Tier 1 & 496 & 66 & 33 & 3 & 598 \\
  Tier 2 & 455 & 196 & 84 & 12 & 747 \\
  Tier 3 & 725 & 618 & 363 & 43 & 1749 \\
  Tier 4 & 84 & 148 & 83 & 63 & 378 \\
  International & 126 & 66 & 41 & 29 & 262 \\
  Government & 359 & 258 & 131 & 34 & 782 \\
  Private Sector & 447 & 206 & 94 & 18 & 765 \\
  Teaching Universities & 394 & 523 & 508 & 143 & 1568 \\
  Column Totals & 3086 & 2081 & 1337 & 345 & 6849 \\\hline
\end{tabular}

To save the allocation, we first need to convert the institution names to institution IDs. The type allocation code ensures that every institution name in the allocation is unique, and every key in the institution mapping dictionary is unique by definition, so the institution mapping is reversible.

In [4]:
function name_to_id(name, institution_mapping)
    ## returns an institution_id
    for (key, value) in institution_mapping
        if value == name
            return key
        end
    end
    return "not found"
end

name_to_id (generic function with 1 method)

Double-check that there are no duplicate institution names:

In [5]:
length(res.institutions)

1501

In [6]:
length(Set(res.institutions))

1501

Save the allocation:

In [7]:
type_dictionary = []
for (i, alloc) in enumerate(res.allocation)
    inst_id = name_to_id(res.institutions[i], res.institution_mapping)
    push!(type_dictionary, Dict("name" => res.institutions[i], "institution_id" => inst_id, "type" => alloc))
end

In [8]:
open(".estimates/oid_to_type.json", "w") do f
    write(f, JSON.json(type_dictionary))
end;

Re-read the allocation as a sanity check:

In [9]:
for tier in 1:NUMBER_OF_TYPES
    println("TYPE $tier")
    hold = []
    for entry in type_dictionary
        if entry["type"] == tier
            push!(hold, string(" ", entry["name"], " (", entry["institution_id"], ")"))
        end
    end
    sort!(hold)
    for entry in hold
        println(entry)
    end
    println("Total $(length(hold)) institutions")
    println()
end

TYPE 1
 Boston University (29)
 Columbia University (22)
 Duke University (17)
 Harvard University (350)
 London School of Economics and Political Science (351)
 Massachusetts Institute of Technology (311)
 New York University (144)
 Northwestern University (18)
 Princeton University (747)
 Stanford University (78)
 University of California Los Angeles (UCLA) (6)
 University of California, Berkeley (781)
 University of Chicago (339)
 University of Maryland (13)
 University of Michigan (4173)
 University of Pennsylvania (137)
 University of Wisconsin, Madison (73)
 Yale University (290)
Total 18 institutions

TYPE 2
 Arizona State University (370)
 Bocconi University (1034)
 Boston College (312)
 Brown University (21)
 Carnegie Mellon University (158)
 Cornell University (361)
 Johns Hopkins University (40)
 Michigan State University (33)
 National University of Singapore (737)
 Ohio State University (465)
 Pennsylvania State University (134)
 Purdue University (74)
 Stockholm School of Economics (649)
 Texas A&M University, College Station (513)
 Tilburg University (573)
 Universitat Pompeu Fabra (180)
 University College London (90)
 University of Bonn (184)
 University of British Columbia (57)
 University of California, Davis (89)
 University of Mannheim (175)
 University of Minnesota, Twin Cities (562)
 University of Notre Dame (104)
 University of Nottingham (974)
 University of Oxford (186)
 University of Rochester (218)
 University of Southern California (125)
 University of Texas at Austin (46)
 University of Toronto (32)
 University of Virginia (70)
 University of Warwick (124)
 University of Washington (91)
 Université Toulouse Capitole (2644)
 Vanderbilt University (347)
 Washington State University (466)
 Washington University in St. Louis (72)
Total 36 institutions

TYPE 3
 Aalto University (332)
 Aarhus University (206)
 American University (302)
 Auburn University (1226)
 Australian National University (67)
 BI Norwegian Business School (896)
 Binghamton University (SUNY) (485)
 CEMFI (97)
 California Institute of Technology (Caltech) (1547)
 Carleton University (60)
 Chinese University of Hong Kong (845)
 Clemson University (81)
 Colorado State University (1361)
 Concordia University (140)
 Copenhagen Business School (199)
 ETH Zurich (295)
 Ecole Polytechnique (IP Paris) (188)
 Emory University (1322)
 Erasmus University Rotterdam (994)
 European University Institute (277)
 Florida International University (229)
 Florida State University (324)
 Fudan University (2112)
 George Mason University (1756)
 George Washington University (411)
 Georgetown University (85)
 Georgia Institute of Technology (249)
 Georgia State University (401)
 Goethe-Universität Frankfurt am Main (550)
 HEC Paris (540)
 Hong Kong Baptist University (895)
 Hong Kong University of Science and Technology (68)
 INSEAD (668)
 Imperial College London (1341)
 Indian Institute of Technology, Kanpur (240)
 Indiana University Bloomington (1223)
 Instituto Tecnologico Autónomo de Mexico (ITAM) (23)
 Iowa State University (1295)
 Kansas State University (606)
 Katholieke Universiteit Leuven (176)
 London Business School (564)
 Louisiana State University (504)
 Ludwig-Maximilians-Universitat München (LMU) (University of Munich) (163)
 Lund University (773)
 Maastricht University (59)
 McGill University (421)
 McMaster University (409)
 Miami University (545)
 Middle Tennessee State University (532)
 Monash University (95)
 Nanyang Technological University (878)
 New Economic School (317)
 New York University Shanghai (1513)
 North Carolina State University (884)
 Northeastern University (674)
 Oklahoma State University (541)
 Oregon State University (1488)
 Peking University (651)
 Pontificia Universidad Católica de Chile (901)
 Queen Mary University of London (796)
 Queen's University (442)
 Rice University (27)
 Rutgers, The State University of New Jersey (105)
 Sciences Po (342)
 Shanghai University of Finance and Economics (1067)
 Simon Fraser University (286)
 Singapore Management University (1089)
 Southern Methodist University (336)
 Stockholm University (433)
 Stony Brook University (SUNY) (909)
 Syracuse University (15)
 Tel Aviv University (454)
 Temple University (303)
 Texas Tech University (596)
 The New School (1217)
 Toronto Metropolitan University (154)
 Tsinghua University (535)
 Tufts University (19)
 Tulane University (598)
 Universidad Carlos III de Madrid (94)
 Universidad de Navarra (181)
 Universidad de los Andes (460)
 Universitat Autònoma de Barcelona (38)
 University of Alabama (1447)
 University of Alberta (782)
 University of Amsterdam (647)
 University of Arizona (187)
 University of Arkansas (308)
 University of Bristol (542)
 University of Calgary (153)
 University of California, Irvine (1201)
 University of California, Riverside (921)
 University of California, San Diego (1)
 University of California, Santa Barbara (66)
 University of California, Santa Cruz (1266)
 University of Cambridge (120)
 University of Colorado, Boulder (832)
 University of Connecticut (42)
 University of Copenhagen (761)
 University of Delaware (194)
 University of Edinburgh (333)
 University of Essex (366)
 University of Exeter (1148)
 University of Florida (452)
 University of Georgia (358)
 University of Glasgow (801)
 University of Gothenburg (894)
 University of Groningen (215)
 University of Hawaiʻi at Mānoa (1839)
 University of Hong Kong (92)
 University of Houston (304)
 University of Illinois at Chicago (101)
 University of Illinois at Urbana-Champaign (622)
 University of Iowa (1542)
 University of Kansas (733)
 University of Kent (810)
 University of Kentucky (650)
 University of Lausanne (326)
 University of Leicester (412)
 University of Massachusetts, Amherst (284)
 University of Melbourne (288)
 University of Miami (169)
 University of Missouri, Columbia (150)
 University of Nebraska, Lincoln (870)
 University of New South Wales (UNSW), Sydney (83)
 University of North Carolina, Chapel Hill (1277)
 University of Oklahoma (582)
 University of Oregon (1574)
 University of Oslo (578)
 University of Pittsburgh (26)
 University of Queensland (266)
 University of South Carolina (82)
 University of St Andrews (657)
 University of Surrey (652)
 University of Sydney (589)
 University of Tennessee, Knoxville (155)
 University of Texas at Dallas (1362)
 University of Tokyo (915)
 University of Utah (1297)
 University of Vienna (254)
 University of Zurich (255)
 Università di Bologna (246)
 Université Libre de Bruxelles (487)
 Université du Québec à Montréal (UQAM) (112)
 Universíté de Montréal (87)
 Uppsala University (173)
 Utrecht University (956)
 Virginia Tech (881)
 Vrije Universiteit Amsterdam (61)
 West Virginia University (910)
 Western University (1066)
 Wuhan University (968)
 École d'Économie de Paris (179)
Total 153 institutions

TYPE 4
 Aix-Marseille Université (1335)
 Aligarh Muslim University (2747)
 Aristotle University of Thessaloniki (2593)
 Ball State University (635)
 Bank of Finland (997)
 Barcelona Graduate School of Economics (1356)
 Bentley University (1731)
 Bharathidasan University (4023)
 Bilkent University (469)
 Birkbeck College, University of London (264)
 Bournemouth University (1228)
 Brandeis University (16)
 CERGE-EI (Center for Economic Research and Graduate Education – Economics Institute) (792)
 Ca' Foscari University Venice (904)
 California State Polytechnic University, Pomona (619)
 Center for Research in Economics and Statistics (CREST) (653)
 Central European University (794)
 Chr. Michelsen Institute (CMI) (394)
 City University of London (744)
 City University of New York Graduate Center (1645)
 Claremont Graduate University (1292)
 Clark University (1583)
 Cochin University of Science and Technology (4496)
 Colorado School of Mines (84)
 Covenant University (1590)
 Dalhousie University (429)
 Dalian University of Technology (427)
 Deakin University (1818)
 Delft University of Technology (2111)
 Drexel University (543)
 Dublin City University (2797)
 Durham University (468)
 EDHEC Business School (1118)
 ESCP Business School (1187)
 ESMT Berlin (1090)
 ESSEC Business School (196)
 Eastern Kentucky University (55)
 Federal Reserve Bank of New York (2156)
 Federal University of Paraná (2409)
 Fordham University (1494)
 Frankfurt School of Finance & Management (642)
 Freie Universität Berlin (536)
 Fundação Getulio Vargas (FGV) (309)
 Ghent University (1135)
 Graduate Institute of International and Development Studies (208)
 Hanken School of Economics (1085)
 Hebrew University of Jerusalem (866)
 Heidelberg University (937)
 Heriot Watt University (939)
 Hong Kong Polytechnic University (869)
 Howard University (200)
 Humboldt University Berlin (1214)
 IE University (1456)
 IMT School for Advanced Studies Lucca (39)
 ISM University of Management and Economics (3806)
 Indian Institute of Management Bangalore (1244)
 Indian Institute of Management Indore (1770)
 Indian Statistical Institute, Delhi (2554)
 Indira Gandhi Institute of Development Research (IGIDR) (2037)
 Insper (Institute of Education and Research) (875)
 Instituto Universitário de Lisboa, ISCTE-IUL (718)
 International Monetary Fund (IMF) (225)
 Istanbul University (3191)
 Jawaharlal Nehru University (1425)
 Johannes Kepler University Linz (444)
 Kiel Institute for the World Economy (1117)
 Kiel University (1092)
 Korea University (844)
 Koç University (1058)
 Kurukshetra University (3818)
 Kyoto University (1866)
 LUISS Guido Carli (1300)
 Lehigh University (1538)
 Leibniz Universität Hannover (828)
 Libera Università di Bolzano (945)
 Loughborough University (1757)
 Luleå University of Technology (3088)
 MINES ParisTech (620)
 Manchester Metropolitan University (3277)
 Martin Luther University of Halle-Wittenberg (1420)
 Massey University (1179)
 Maulana Azad National Institute of Technology Bhopal (MANIT) (4553)
 Meiji University (2723)
 Middle East Technical University (236)
 Middle East Technical University - Northern Cyprus Campus (1061)
 National Central University (2780)
 National Research University Higher School of Economics, St. Petersburg (697)
 Nelson Mandela University (2785)
 New York University Abu Dhabi (177)
 Northern Illinois University (1210)
 Otto-von-Guericke University Magdeburg (735)
 Politecnico di Torino (2856)
 Quaid-i-Azam University (2601)
 Queens' University Belfast (1252)
 Radboud University (1000)
 Royal Holloway, University of London (117)
 Royal Melbourne Institute of Technology (RMIT) (1177)
 SKEMA Business School (384)
 SOAS (School of Oriental and African Studies), University of London (1459)
 SUNY Buffalo State (2494)
 Sam Houston State University (121)
 Sapienza Università di Roma (1245)
 Sciences Po Toulouse (4725)
 Seoul National University (837)
 Shiv Nadar University (903)
 Sorbonne Université (2810)
 Southern Illinois University (1294)
 St. Thomas University (2199)
 Stellenbosch University (1421)
 Suffolk University (1450)
 Technical University of Crete (3345)
 Technische Universität Berlin (1765)
 Technische Universität Braunschweig (3626)
 Texas A&M International University (695)
 Towson University (1639)
 Trinity College Dublin, University of Dublin (905)
 Universidad Complutense de Madrid (198)
 Universidad Pontificia Comillas (2587)
 Universidad de Alicante (116)
 Universidad de Cantabria (426)
 Universidad de Zaragoza (2233)
 Universidade Nova de Lisboa (1560)
 Universidade da Coruña (3624)
 Universitat Rovira i Virgili (213)
 Universitat de Barcelona (259)
 Universitat de València (223)
 Universiti Kebangsaan Malaysia (1548)
 Universiti Malaysia Perlis (2692)
 Universiti Sains Malaysia (2220)
 Universiti Utara Malaysia (1422)
 University College Cork (2706)
 University at Albany (SUNY) (628)
 University of Aberdeen (740)
 University of Adelaide (666)
 University of Algiers 3 (2083)
 University of Bath (1123)
 University of Bern (201)
 University of Birmingham (1648)
 University of Cape Town (235)
 University of Carthage (3353)
 University of Cincinnati (109)
 University of Cologne (579)
 University of Colorado, Denver (659)
 University of Dschang (3673)
 University of Fribourg (1111)
 University of Guelph (1256)
 University of Helsinki (343)
 University of Hull (732)
 University of Innsbruck (987)
 University of Konstanz (197)
 University of Leeds (1569)
 University of Limerick (2824)
 University of Lisbon (1032)
 University of Liverpool (1871)
 University of Luxembourg (132)
 University of Maine, Orono (1324)
 University of Manchester (1186)
 University of Minho (1870)
 University of Mississippi (1667)
 University of Nevada, Las Vegas (UNLV) (252)
 University of Nevada, Reno (1368)
 University of New Mexico (239)
 University of New Orleans (2372)
 University of North Carolina, Greensboro (250)
 University of Ottawa (724)
 University of Porto (276)
 University of Reading (491)
 University of Saskatchewan (779)
 University of Sheffield (815)
 University of South Alabama (671)
 University of Strathclyde (858)
 University of Sussex (368)
 University of Tasmania (1050)
 University of Texas at Arlington (103)
 University of Tirana (1387)
 University of Tsukuba (2451)
 University of Vaasa (1454)
 University of Victoria (749)
 University of Warsaw (1849)
 University of Waterloo (318)
 University of Wisconsin, Milwaukee (1579)
 University of Wyoming (701)
 University of York (193)
 University of the West of Scotland (1530)
 Università Cattolica del Sacro Cuore (1873)
 Università Degli Studi di Milano (813)
 Università degli Studi del Molise (3631)
 Università degli Studi di Firenze (2008)
 Università degli Studi di Palermo (1401)
 Università degli Studi di Pavia (1391)
 Università degli Studi di Siena (1702)
 Università degli Studi di Trento (1018)
 Università della Svizzera Italiana (1064)
 Università di Roma Tor Vergata (1268)
 Université Cheikh Anta Diop de Dakar (3715)
 Université Claude Bernard Lyon 1 (2271)
 Université Clermont Auvergne (478)
 Université Grenoble Alpes (1015)
 Université Laval (274)
 Université Paris 1 Panthéon-Sorbonne (708)
 Université Paris 2 Panthéon-Assas (1763)
 Université Paris-Dauphine (710)
 Université Paris-Est Créteil (2323)
 Université Paris-Est Marne-la-Vallée (1699)
 Université catholique de Louvain (793)
 Université d'Evry Val-d'Essonne (1766)
 Université de Bordeaux (1350)
 Université de Genève (1094)
 Université de Rennes 1 (2294)
 Université de Strasbourg (244)
 Université de Tunis (2686)
 Vienna Graduate School of Finance (VGSF) (689)
 Vienna University of Economics and Business (706)
 Wageningen University (1213)
 Wayne State University (1310)
 Western Kentucky University (450)
 Yildiz Technical University (2605)
 York University (963)
 Zhejiang Gongshang University (1119)
Total 219 institutions